*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    /* background-color: #0e6706; */
}



.one{
    position:relative;
    width: 80%;
    height: 100vh;
    background: #fcfcfc;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.logo{
    margin-left: 0%;
    width: auto;
    height: 80px;
}



.hero{
    height: 100vh;
    background: url('0-image/nature-wallpaper-175.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .content{
    height: 200px;
    width: 100%;
    text-align: center
}
.hero h1{
    font-size: 500%;
}
.hero h3{
    font-size: 200%;
}
.hero button{
    padding: 10px 40px;
    margin-top: 10px;
    text-transform: uppercase;
    background: linear-gradient(to left, tomato, red);
    color: white;
    border: 1px solid tomato;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;

}
.hero button:hover{
    background: linear-gradient(to left, red, tomato);
}

.two{
    margin-left: 8%;
    margin-top: 15%;
}

.two h1{
    font-size: 50px;
    color: #0e6706;
    margin-bottom: 20px;
}

span{
    color: rgb(255, 0, 17);
}

.two{
    color: #555;
    line-height: 22px;
}
.three{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0%;
    left: 70%;
}
.four{
    width: auto;
    height: 400px;
    margin-top: 110%;
    display: block;
    
}


